inputs:
  - type: "s3-sqs"
    id: "arn:aws:sqs:us-east-1:<YOUR_ACCOUNT_ID>:phoenix-cloudtrail-notifications"
    outputs:
      - type: "elasticsearch"
        args:
          elasticsearch_url: "<YOUR_ELASTICSEARCH_URL>"
          api_key: "<YOUR_API_KEY_HERE>"